/* body{
    margin: 10px 1200px;
} */
 /* *{
    margin: 10px 1200px;
 } */
.common-button {
   color: aliceblue;
    background-color:blue;
    padding: 5px 15px;
    border-radius: 5px;
    width: 150px;
}
.anchors a{
    text-decoration: none;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dev-icon{
    display: flex;
    align-items: center;
}
.dev-icon img{
    height: 25px;
}
.image-container{
    position: relative;
    display: inline-block;
}
.overlay-text{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px 5px black;
}
.banner-image{
    display: block;
    width: 100%;
}
.display-person{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.display-person img{
    height: 250px;
    width: 450px;
}
.display-person-div{
 
    border: 2px solid rgb(236, 224, 224);
    padding: 20px;
    border-radius: 20px;
}
.italic{
    font-style: italic;
}
.meet{
    text-align: center;
    
}
.card-section{
    display: flex;
    justify-content: center;
}
.card-section div{
    margin: 10px;
    height: 320px;
    width: 250px;
    border: 2px solid rgb(241, 230, 230);
    border-radius: 10px;
    padding: 15px;
    align-items: center;
}
.pro-card{
    background-color: rgb(36, 36, 90);
}
.normal-button{
    width: 80%;
}
footer{
    background-color: rgb(2, 4, 31);
    display: flex;
    justify-content: space-between;
}
footer div{
    display: flex;
    color: rgb(100, 98, 94);
}
footer p{
    margin: 8px;
    font-size: small;
}
